{% load static %}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href={% static 'css/bootstrap.min.css' %} />
<script src={% static 'js/bootstrap.min.js' %}></script>
<style>
	body{
		margin:0;
		paddig:0;
		font-family: 'Nunito Sans', sans-serif;
	}
	
	h1{
		color:#ffffff;
	}
	
	.login{
		background-image:url({% static 'login/login_bg.jpg' %});
		position:absolute;
		width:100%;
		height:100%;
		align-items: center;
		display: flex;
    	justify-content: center;
	}
	
	.login .card{
		background: transparent;
	    border: none;
	    width: 440px;
	    left: 0;
	    right: 0;
	    margin-right: auto;
	    margin-left: auto;
	    position: absolute;
    	align-items: center;
	}
	
	.login form{
		background-color: #fff;
	    border-radius: 0;
	    padding: 20px;
	    width: 440px;
	    display: flex;
	    flex-direction: column;
	}
	
	.login .form-item{
		padding: 5px 10px;
	    margin-bottom: 15px;
	    width: 400px;
	    border: 1px solid #ddd;
	    font-weight: 300;
	    height: 40px;
	    font-size: 13px;
	    font-weight: 300;
	}
	
	.login .form-submit{
		color: #fff;
	    background: #1a3967;
	    border: none;
	    letter-spacing: .1rem;
	    transition: opacity .3s ease;
	    cursor: pointer;
	    height: 40px;
	    font-size: 13px;
	    font-weight: 300;
	}
</style>

<div class="login">
	
	<div class="card">
	<h1><span style="color: #e68330">SRV</span>Access</h1>
	<form>
		<input class="form-item" placeholder="Gebruikersnaam" name="username" type="text">
		<input class="form-item" placeholder="Wachtwoord" name="password" type="password">
		<input class="form-submit" type="submit" value="Inloggen">
	</form>
	</div>
</div>